.admin_users {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 50px;
  min-height: 550px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.admin_users .control_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: orange;
  padding: 10px 100px;
}
.admin_users .control_content .title {
  font-size: 25px;
  margin-bottom: 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  flex-grow: 1;
}
.admin_users .control_content input {
  flex-grow: 4;
  margin: 0 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.admin_users .control_content input:focus {
  outline: none;
}
.admin_users .control_content .icon_content {
  flex-grow: 2;
  text-align: center;
  color: white;
  font-size: 20px;
}
.admin_users .control_content .icon_content i.active {
  color: green;
}
.admin_users .control_content button {
  flex-grow: 0.5;
}

/* ---------------- */
.admin_users nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.admin_users .user_item a,
.admin_users .user_item a:hover {
  text-decoration: none !important;
}
.admin_users .user_item {
  padding-bottom: 10px;
}
.admin_users .user_item .item_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.admin_users .user_item .index {
  width: 10%;
}
.admin_users .user_item .user_id {
  width: 25%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.admin_users .user_item .user_id a{
  color: black;
  font-size: 13px;
  font-weight: bold;
}
.admin_users .user_item .user_name {
  width: 30%;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.admin_users .user_item .user_icon {
  width: 10%;
}
.admin_users .user_item .btn_style {
  width: 25%;
}
